# This workflow builds, zips and attaches an artifact to the release that triggered it

name: Release

on:
  release:
    types: [published]

jobs:
  build:

    strategy:
      matrix:
        configuration: [Release]
        platform: [win-x64, linux-x64]
    
    runs-on: ubuntu-latest
    
    env:
      artifact: SCLauncher-${{ github.event.release.tag_name }}-${{ matrix.platform }}${{ contains(matrix.platform, 'linux') && '.tar.gz' || '.zip' }}

    steps:
    - name: Process version
      id: get_version
      env:
          TAG: ${{ github.event.release.tag_name }}
      run: echo "version=${TAG#v}" >> $GITHUB_OUTPUT
        
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x
    
    - name: Build
      run: dotnet publish SCLauncher -c ${{ matrix.configuration }} -r ${{ matrix.platform }} -o out --self-contained true -p:PublishSingleFile=true -p:PublishReadyToRun=true -p:IncludeNativeLibrariesForSelfExtract=true -p:AssemblyVersion=${{ steps.get_version.outputs.version }} -p:Version=${{ steps.get_version.outputs.version }}
    
    - name: Create archive (windows)
      if: contains(matrix.platform, 'win')
      run: zip -qq -j -r ${{ env.artifact }} ./out
  
    - name: Create archive (linux)
      if: contains(matrix.platform, 'linux')
      run: tar -czf ${{ env.artifact }} -C ./out .
   
    - name: Upload artifact
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        # The URL for uploading assets to the release
        upload_url: ${{ github.event.release.upload_url }}
        # The path to the asset you want to upload
        asset_path: ./${{ env.artifact }}
        # The name of the asset you want to upload
        asset_name: ${{ env.artifact }}
        # The content-type of the asset you want to upload. See the supported Media Types here: https://www.iana.org/assignments/media-types/media-types.xhtml for more information
        asset_content_type: ${{ contains(matrix.platform, 'linux') && 'application/gzip' || 'application/zip' }}
